@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap");

:root {
  --col-dark-0: rgb(0, 14, 29);
  --col-dark-1: rgb(11, 28, 44);
  --col-dark-2: rgb(21, 41, 61);
  --col-dark-3: #2d4863;

  --col-light-0: rgb(217, 230, 247);

  --shadow-wide: 0 0 10px rgb(0, 14, 29, 0.5);
  --shadow-medium: 0 5px 3px rgb(0, 14, 29, 0.5);
}

html,
body {
  height: 100vh;
}

#root,
.App {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--col-dark-1);
  color: var(--col-light-0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
}

header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--col-dark-2);
  font-size: 2rem;
  padding: 0.4rem 0.8rem;
  box-shadow: var(--shadow-wide);
}

footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--col-dark-2);
  padding: 0.8rem;
  text-align: center;
  font-size: 0.9rem;
  box-shadow: var(--shadow-wide);
}

.gh-icon-placeholder {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: white;
}

.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 36rem;
  margin: 0.5rem 0;
  padding: 0.8rem 1rem;
  font-size: 1.5rem;
  font-family: "Fira Code";
  border: none;
  border-radius: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background: var(--col-dark-3);
  box-shadow: var(--shadow-medium);
  color: white;
}
